.checkout-header {
  height: 80px;
  display: flex;
  align-items: center;
  padding: 0px 30px;
}

.checkout-logo {
  color: black;
  font-size: 40px;
  font-family: 'Sevillana';
  font-weight: bold;
}

.checkout-logo-active {
  text-decoration: none;
  color: inherit;
}

.checkout-page {
  font-family: sans-serif;
}

.checkout-title {
  font-size: 36px;
  text-align: center;
  font-weight: bold;
}

.checkout-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 100px;
  justify-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
}

.checkout-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.checkout-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
  padding: 40px 80px;
  border: 1px solid #ddd;
  border-radius: 30px;
  width: 100%;
  min-width: 800px;
  max-width: 1000px;
}

.checkout-item-image {
  object-fit: cover;
  width: 150px;
  height: 150px;
  border-radius: 25px;
}

.checkout-item-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 40px;
  color: black;
  font-family: sans-serif;
  font-size: 18px;
  width: 100%;
  min-width: 240px;
  max-width: 400px;
}

.checkout-item-row {
  margin-bottom: 20px;
}

.name {
  font-size: 24px;
  font-weight: bold;
}

.checkout-item-remove {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.checkout-item-remove-button {
  width: 120px;
  margin-top: 10px;
  margin-left: 60px;
  padding: 15px 25px;
  background-color: #C3110C;
  color: white;
  border: none;
  border-radius: 25px;
}

.checkout-item-remove-button:hover {
  background-color: #237227;
}

.checkout-item-update-button {
  font-weight: bold;
  margin-top: 10px;
  margin-left: 60px;
  padding: 10px;
  width: 40px;
  background-color: #C3110C;
  color: white;
  border: none;
  border-radius: 40px;
}

.checkout-item-update-button:hover {
  background-color: #237227;
}