.payment-summary {
  position: sticky;
  top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #ddd;
  border-radius: 20px;
  padding: 30px;
  gap: 40px;
  width: 400px;
}

.payment-summary-title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.payment-summary-details {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 18px;
}

.payment-summary-row {
  display: flex;
  justify-content: space-between;
  width: 280px;
}

.total {
  color: #237227;
  font-size: 20px;
  font-weight: bold;
}

.checkout-button {
  width: 200px;
  padding: 15px 25px;
  background-color: #C3110C;
  color: white;
  border: none;
  border-radius: 25px;
}

.checkout-button:hover {
  background-color: #237227;
}