.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.hero-button {
  margin-top: 20px;
  margin-right: 20px;
  padding: 10px 20px;
  background-color: #ff6347;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}

.section-content p {
  font-size: 25px;
}