.menu-page {
  background-color: #FFCE99;
  width: 100%;
}

.menu-title {
  text-align: center;
  font-size: 36px;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 40px;
}

.menu-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  padding: 25px 60px;
  background-color: black;
  border-radius: 40px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  z-index: 1;
  width: 600px;
}

.menu-item-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 20px;
  color: white;
  font-family: sans-serif;
  font-size: 18px;
  width: 100%;
}

.menu-item-details h3 {
  font-size: 24px;;
}

.menu-container {
  max-width: 100%;
}

.menu-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  gap: 40px;
  padding: 40px 40px;
}

.menu-item-image-container {
  margin-right: 20px;
}

.menu-item-image {
  object-fit: cover;
  width: 150px;
  height: 150px;
  border-radius: 25px;
}

.menu-item-price {
  font-size: 25px;
  font-weight: bold;
}

.order-button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  width: 100%;
}

.order-button {
  width: 140px;
  margin-top: 10px;
  padding: 15px 25px;
  background-color: #C3110C;
  color: white;
  border: none;
  border-radius: 25px;
  font-size: 18px;
  font-family: sans-serif;
  cursor: pointer;
}

.order-button:hover {
  background-color: #ffffff;
  color: #000000;
}